/* TODO: consider creating <Button> and <GradientText> components */

/* Register your custom font family and tell the browser where to find it. */

.mobile-menu {
  z-index: 1000;
}
@font-face {
  font-family: "InterDisplay";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Inter/InterDisplay-Regular.woff2") format("woff2");
}

/* @font-face {
  font-family: "InterDisplay";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Inter/InterDisplay-Italic.woff2") format("woff2");
} */

/* @font-face {
  font-family: "InterDisplay";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Inter/InterDisplay-Medium.woff2") format("woff2");
} */

/* @font-face {
  font-family: "InterDisplay";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Inter/InterDisplay-MediumItalic.woff2") format("woff2");
} */

/* @font-face {
  font-family: "InterDisplay";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/Inter/InterDisplay-SemiBold.woff2") format("woff2");
} */

/* @font-face {
  font-family: "InterDisplay";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/Inter/InterDisplay-SemiBoldItalic.woff2") format("woff2");
} */

@font-face {
  font-family: "InterDisplay";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Inter/InterDisplay-Bold.woff2") format("woff2");
}

/* @font-face {
  font-family: "InterDisplay";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Inter/InterDisplay-BoldItalic.woff2") format("woff2");
} */

/* @font-face {
  font-family: "InterDisplay";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/Inter/InterDisplay-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "InterDisplay";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/Inter/InterDisplay-ExtraBoldItalic.woff2") format("woff2");
} */

@font-face {
  font-family: "InterDisplay";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("/fonts/Inter/InterDisplay-Black.woff2") format("woff2");
}

@font-face {
  font-family: "Akrobat";
  src: url("/fonts/Akrobat/Akrobat-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Madelyn";
  src: url("/fonts/Madelin/Madelyn-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

a,
.btn {
  @apply transition-colors duration-200;
  @apply hover:text-secondary;
  @apply focus:outline-none focus:ring-2 focus:ring-secondary focus:ring-offset-transparent;
}
