---
import Section from "./Section.astro";

import cards from "../data/cards.json";
import AdvantageCard from "./AdvantageCard.astro";
import Container from "./Container.astro";
---

<Section className=" bg-black py-24">
  <Container className={"flex flex-col gap-10 p-4 lg:px-24"}>
    <h2 class="akrobat text-left w-full text-4xl font-extrabold">{cards.title}</h2>
    <div class="flex flex-col justify-evenly gap-12 lg:flex-row">
      {
        cards.cards.map((card) => (
          <AdvantageCard title={card.title} image={card.image} />
        ))
      }
    </div>
    <div id="services"></div>

  </Container>
</Section>

<style>
  .akrobat {
    font-family: Akrobat, Arial, Helvetica, sans-serif;
  }
</style>
