---
const { url, title, className } = Astro.props;
---

<a
  class={`cursor-pointer rounded-[20px] border-2 border-primary px-8 py-4 text-center font-extrabold uppercase text-primary text-lg ${className}`}
  href={url}
  target="_blank"
>
  {title}
</a>
