---
import type { NavItem } from "~/types";
import Link from "~/components/Link.astro";
import Logo from "./Logo.astro";
import ButtonLink from "~/components/ButtonLink.astro";

const navItems: Array<NavItem> = [
  { title: "Акции", url: "#actions" },
  { title: "Услуги", url: "#services" },
  { title: "Контакты", url: "#contacts" },
  { title: "Где находимся", url: "#where" },
];
---

<header
  id="page-header"
  class="fixed top-0 z-20 flex w-full items-center justify-between border-b border-transparent bg-black px-8 py-4 text-white"
>
  <Logo title="Family Fitness" subtitle="relax massage" className="min-w-[300px]" />
  <div class="flex w-full items-center justify-end ml-auto gap-10">
    {navItems.map((item) => <Link title={item.title} url={item.url} />)}
    <ButtonLink title="Записаться" href="#" />
  </div>
</header>
