---
const { url, title, className } = Astro.props;
---

<a
  class={`right-4 bottom-4 fixed element drop-shadow-md
   cursor-pointer rounded-[20px] border active:border-transparent text-black  border-transparent  hover:border-secondary p-0 text-center z-50 font-extrabold uppercase bg-primary ${className}`}
  href={url}
  target="_blank"
>
  {title}
</a>

<style>
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    3% {
      transform: translateX(-10px) rotate(-5deg);
    }
    5% {
      transform: translateX(10px) rotate(5deg);
    }
    7% {
      transform: translateX(-10px) rotate(-5deg);
    }
    9% {
      transform: translateX(10px) rotate(5deg);
    }
    11% {
      transform: translateX(-10px) rotate(-5deg);
    }
    13% {
      transform: translateX(10px) rotate(5deg);
    }
    15% {
      transform: translateX(-10px) rotate(-5deg);
    }
    17% {
      transform: translateX(10px) rotate(5deg);
    }
    19% {
      transform: translateX(-10px) rotate(-5deg);
    }
    21% {
      transform: translateX(0) rotate(0);
    }
    100% {
      transform: translateX(0) rotate(0);
    }
  }
  @keyframes slide {
    0% {
      left: -100%;
    }
    3% {
      left: 100%;
    }
    4% {
      left: 1000%;
    }
    100% {
      left: 1000%;
    }
  }

  .element {
    overflow: hidden;
    animation: shake 7s linear 1s infinite;
    font-family: Akrobat, Arial, Helvetica, sans-serif;
    /* position: relative; */
  }

  .element::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 30%;
    height: 100%;
    background-color: var(--color-secondary);
    animation: slide 8s linear infinite;
  }
</style>
