---
const {title, subtitle, className} = Astro.props;
---

<div class=`text-primary min-w-[150px] md:min-w-[200px] 2xl:min-w-[300px] ${className}`>
	<p class="text-left uppercase text-[20px] md:text-[27px] lg:text-[30px] 2xl:text-[35px]  logo">{title}</p>
	<p class="text-right madelyn text-[30px] md:text-[35px] lg:text-[40px] 2xl:text-[50px]">{subtitle}</p>
</div>
<style>
	.madelyn {
		font-family: 'Madelyn', sans-serif;
	}
	.logo {
		font-family: 'Akrobat', sans-serif;
	}
</style>