---
const { image, title, subtitle } = Astro.props;
---

<div class="w-full justify-start">
  <div class="w-full flex gap-5 items-center">
    <img src={image} class="w-12 h-12" alt="" />
    <p class="text-left text-2xl">{title}</p>
  </div>
  <p class="madelyn text-center text-5xl mt-4">{subtitle}</p>
</div>

<style>
  .madelyn {
    font-family: Madelyn, Arial, Helvetica, sans-serif;
  }
</style>

