---
import { Image } from "astro:assets";

const { image, title, subtitle } = Astro.props;
---

<div class="w-full justify-start">
  <div class="flex w-full items-center gap-5">
    <Image src={image} class="h-12 w-12" width={48} height={48} alt="" />
    <p class="text-left text-2xl">{title}</p>
  </div>
  <p class="madelyn mt-4 text-center text-5xl">{subtitle}</p>
</div>

<style>
  .madelyn {
    font-family: Madelyn, Arial, Helvetica, sans-serif;
  }
</style>
